main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.left-advertisement{
    grid-column: 1/3;
    grid-row: 1/3;
    background: linear-gradient(180deg, #010728 30%, #0b2c5c 70%);
}

.left-advertisement .card{
    margin: 10px;
}

.product-container{
    grid-column: 3/10;
    grid-row: 1/3;
}

.right-advertisement{
    grid-column: 10/13;
    background: linear-gradient(180deg, #010728 30%, #0b2c5c 70%);
}

.game.card{
    width: 100%;
    height: 100%;
}
.game.card img{
    width: 100%;
    height: 100%;
}

.right-advertisement .card{
    margin: 10px;
}

@media(max-width: 800px){
    .product_container{
        grid-column: 2/12;
    }

}