

.navbar-brand img{
    width: 8em;
}
.nav-link{
    color: rgb(119, 119, 119);
}

.navbar-nav .nav-link.active{
    color: rgb(196, 196, 196);
}

.navbar.navbar-expand.bg-body-tertiar{
    background-color: aliceblue;
}

body>main>.product-container{
    margin-top: 10px;
}

.flex-header{
    justify-content: space-between;
}

.account{
    display: inline-block;
}